/* stili generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}


/* contenuto del wrapper */
#wrapper {
    height: calc(100vh - 100px); 
    display: flex; 
}



/* stili sidebar*/

#sidebar {
    width: 250px;
    padding: 1rem;
    background-color: black;
    color: hsl(0, 0%, 63.9%);
}

#sidebar a {
    text-decoration: none;
    color: hsl(0, 0%, 63.9%);
}

#sidebar a:hover {
    color: white;
}

.logo {
    width: 150px;
    margin-bottom: 2rem;
}

.menu-sidebar li {
    list-style: none;
    padding-bottom: 0.5rem;
}

.menu-sidebar h3 {
    color: white;
}

.active {
    color: white;
} 

.playlist {
    display: flex;
    flex-direction: column;
}

.playlist a {
    padding-top: 0.5rem;
}

.user-menu {
    position: fixed;
    bottom: 100px;
}

.user-menu div {
    padding: 0.5rem 0;
    border-top: 1px solid hsl(0, 0%, 63.9%);
    margin-top: 0.5rem ;
    color: white;
    width: 200px;
}




/* stili content  */
#content {
    width: calc(100vw - 250px);
    background-color: #141922;
    overflow-y: auto;
    
}

/* barra superiore content */
header {
    height: 100px;
    width: calc(100vw - 250px);
    background-color: #080b12;
    filter: opacity(0.5);
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.upgrade a {
    text-decoration: none;
    color: white;
    padding-right: 3rem;
    border-radius: 20px solid white;
   
}

nav {
    height: 50px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;   
}

nav a:first-child {
    position: relative;
}

nav a:hover {
    color: white;
}

.fluo {
    position: absolute;
    width: 40px;
    height: 3px;
    margin-left: 20px;
    background-color: hsl(83.9, 81%, 54.5%);
}

nav a {
    text-decoration: none;
    color: hsl(0, 0%, 63.9%);
    font-size: 14px;
}


/* container content menu */
.content-menu {
   padding: 1rem 2rem;
}

.content-menu h2 {
    color: white;
    padding-bottom: 10px;
}

.content-menu > span {
    color: hsl(0, 0%, 63.9%);
    font-size: 14px;
}

/* contenuto option */
.option {
    display: flex;  
}

.played {
    width:calc(100% / 6);
    margin-right: 15px;
    margin-top: 20px;
   
}

.played img {
    width: 100%;
}

.played h3 {
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 10px 0 5px;
}

.played span {
    color: hsl(0, 0%, 63.9%);
    font-size: 12px;
    text-align: center;
    display: block;
}





/* contenuto del controller */
#controller {
    height: 100px;
    width: 100%;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    color: white;

}

/* stili audio play */
.audio-play {
    width: 50%;
    text-align: center;
}

.play-button {
    font-size: 20px;
}

.play-button i {
    padding-left: 1rem;
}

.execution-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.progressive-barplay {
    width: 50%;
    height: 3px;
    background-color: hsl(0, 0%, 63.9%);
    margin: 0 3rem;
    border-radius: 20px;
}

.progressive-barplay .bar {
    width: 30%;
    background-color: white;
    height: 3px;
}

.progressive-baraudio {
    width: 50%;
    height: 3px;
    background-color: hsl(0, 0%, 63.9%);
    border-radius: 20px;
}

.progressive-baraudio .bar {
    width: 10%;
    background-color: white;
    height: 3px;
}



/* stili audio info 1 */
.audio-info {
    display: flex;
    align-items: center;
    width: 20%;

}

.img-controller img {
    width: 70px;
    padding-right: 1rem;
}

.name-song span {
    font-size: 12px;
    color: hsl(0, 0%, 63.9%);
}

.name-song {
    padding-right: 2rem;
}

.save-icon i{
    font-size: 20px;
    padding-right: 1rem;
    color:  hsl(0, 0%, 63.9%) ;
}

/* stili audio info2 */
.audio-info i{
    font-size: 20px;
    padding-right: 1rem;
}


/* versione md */
@media all and (max-width:878px) {
    
   nav {
    width: 70%;
    
   }

   .option {
    flex-wrap: wrap;
    
   }
}
